# gradle
.gradle
build

# ForgeGradle
/run

# eclipse
assets
!resources/assets
.settings
.metadata
.classpath
.project
bin

# intellij
out
*.idea
*.iml
*.iws
*.ipr

# minecraft
saves
mods
stats
config
resourcepacks
*.log*
options.txt